/* ---------------------------------------- */
/* Seed - packs
/* ---------------------------------------- */
@import './seed/seed-button';
/* ---------------------------------------- */
/* Login CSS
/* ---------------------------------------- */
body {
	background: #1C2242;
	text-align: center;
}
.login {
	display: flex;
  	flex-direction: column;
  	height: 100%;
  	justify-content: center;
  	overflow: auto;
  	resize: vertical;
  	button {
  		background: transparent;
  		border-color: #57D3C3;
  		color: #57D3C3;
  		height: 44px;
    	line-height: 40px;
  		width: 300px;
  		&:focus,
  		&:hover {
  			background: #57D3C3;
  			border-color: #57D3C3;
  			color: #FFF;
  			text-decoration: none;
  		}
  	}
  	form {
  		overflow: auto;
  		resize: vertical;
  	}
  	input {
  		border: none;
  		border-radius: 1px;
  		display: block;
  		font-size: 16px;
  		margin: 0 auto 13px;
  		padding: 13px 18px;
  		width: 300px;
  	}
}