// Modal
.modal {
	-webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 2px 3px rgba(42,59,71,.2),0 10px 40px rgba(42,59,71,.3);
    cursor: auto;
    left: auto!important;
    margin: 30px auto;
    max-width: 1024px;
    min-width: 320px;
    opacity: 0;
    outline: 0;
    position: relative!important;
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition: opacity 125ms ease-in-out;
    text-align: left;
    transition: opacity 125ms ease-in-out;
    width: 80%;
    z-index: 11;
}
.modal-backdrop {
	background-color: rgba(28,34,66,.8);
    bottom: 0;
    cursor: pointer;
    display: none;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition: opacity 125ms ease-in-out;
    transition: opacity 125ms ease-in-out;
    top: 0;
    z-index: 10;
    &.show {
    	opacity: 1;
    	.modal {
    		opacity: 1;
    	}
    }
}
.modal-body {
	background: #F9F9F9;
	overflow: hidden;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}
.modal-close.c-button {
    border-color: #FFF;
    color: #FFF;
	float: right;
	font-size: 16px;
	font-weight: 300;
    height: auto;
    line-height: 21px;
	margin-top: -1px;
    padding: 0 6px 1px;
    &:active,
    &:focus,
    &:hover {
        background: #FFF;
        border-color: #FFF;
        color: #67727B;
        opacity: 1;
    }
}
.modal-footer {
	background: #F9F9F9;
	border-radius: 0 0 1px 1px;
    font-size: 16px;
    line-height: 26px;
	margin: 0;
	overflow: hidden;
    padding: 0 20px 20px;
    text-align: center;
    .c-button {
        border-color: #2D95C7;
        color: #2D95C7;
        &:hover {
            background: #2D95C7;
            border-color: #2D95C7;
            color: #FFF;
            text-decoration: none;
        }
    }
}
.modal-header {
	background: #47516B;
    border-bottom: 1px solid #DDD;
    border-radius: 1px 1px 0 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    overflow: hidden;
    padding: 14px 20px;
    span {
		display: block;
    	font-size: 16px;
    	font-weight: 300;
    	margin-top: -2px;
        opacity: 0.6;
    }
}